In [115]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, f1_score

In [130]:
df=pd.read_csv("clean_df_no_rounded.csv")
df

,Title,Platforms,Publisher,Genre,Total_Sales,USA_Sales,EUR_Sales,Japan_Sales,Rating,Release_Date,Year
0,Grand Theft Auto IV Read the review,X360,Rockstar Games,Action,11.09,6.80,3.11,0.14,9.0,29 Apr 08,2008.0
1,Uncharted 2: Among Thieves Read the review,PS3,Sony Computer Entertainment,Action,6.74,3.28,2.22,0.21,9.2,13 Oct 09,2009.0
2,Red Dead Redemption Read the review,X360,Rockstar Games,Action,6.50,3.77,2.03,0.09,9.1,18 May 10,2010.0
3,God of War (2018) Read the review,PS4,Sony Interactive Entertainment,Action,6.15,2.83,2.17,0.13,9.0,20 Apr 18,2018.0
4,Assassin's Creed Read the review,X360,Ubisoft,Action,5.55,3.28,1.64,0.07,7.5,13 Nov 07,2007.0
...,...,...,...,...,...,...,...,...,...,...,...
1404,Shin Megami Tensei: Devil Survivor Overclocked...,3DS,Atlus,Strategy,0.03,0.00,0.00,0.03,8.8,23rd Aug 11,2011.0
1405,Stormrise Read the review,PC,Sega,Strategy,0.02,0.00,0.02,0.00,3.1,24 Mar 09,2009.0
1406,Worms Read the review,PSN,Sony Computer Entertainment,Strategy,0.02,0.00,0.02,0.00,6.8,26 Mar 09,2009.0
1407,London Detective Mysteria Read the review,PSV,Xseed Games,Visual+Novel,0.01,0.00,0.00,0.01,7.0,18 Dec 18,2018.0
1408,London Detective Mysteria Read the review,PSV,Xseed Games,Visual+Novel,0.01,0.00,0.00,0.01,7.0,18 Dec 18,2018.0

In [131]:
df['Platforms amount'] = df.groupby('Platforms')['Platforms'].transform('count')
df['Publisher movie amount'] = df.groupby('Publisher')['Publisher'].transform('count')
df['Genre Amount'] = df.groupby('Genre')['Genre'].transform('count')

In [138]:
X = df.drop(['Platforms','Publisher','Genre','Title','Release_Date','Total_Sales','USA_Sales','EUR_Sales','Japan_Sales'],axis=1)
y =  df['Total_Sales']

X

      Rating    Year  Platforms amount  Publisher movie amount  Genre Amount
0        9.0  2008.0               260                      18           237
1        9.2  2009.0               374                     126           237
2        9.1  2010.0               260                      18           237
3        9.0  2018.0                95                       9           237
4        7.5  2007.0               260                      83           237
...      ...     ...               ...                     ...           ...
1404     8.8  2011.0                95                      36            34
1405     3.1  2009.0                70                      64            34
1406     6.8  2009.0                 3                     126            34
1407     7.0  2018.0                53                      18             2
1408     7.0  2018.0                53                      18             2

[1409 rows x 5 columns]

In [139]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1409 entries, 0 to 1408
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rating                  1409 non-null   float64
 1   Year                    1409 non-null   float64
 2   Platforms amount        1409 non-null   int64
 3   Publisher movie amount  1409 non-null   int64
 4   Genre Amount            1409 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 55.2 KB

In [140]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [141]:
model = sklearn.linear_model.LinearRegression().fit(X_train, y_train)

In [142]:
newDf = pd.DataFrame({'Rating actual': y_test,'Rating predicted':model.predict(X_test)})

In [143]:
newDf.to_csv("Predicted.csv")

print(r2_score(y_test, newDf['Rating predicted']))

-0.22123179261005155

In [108]:
newDf

     Rating actual  Rating predicted
398           6.84          4.041497
238           5.10          4.139954
335           1.62          3.100835
15            1.12          4.238412
321           1.52          3.280750
..             ...               ...
106           3.06          4.197683
697           1.87          2.197718
415           1.87          3.983768
409           2.51          3.671395
218           1.45          3.562666

[142 rows x 2 columns]