In [183]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, f1_score

In [324]:
df=pd.read_csv("clean_df_no_rounded.csv")
df

,Title,Platforms,Publisher,Genre,Total_sales,USA_Sales,EUR_Sales,Japan_Sales,Release_date,Year
0,Grand Theft Auto: San Andreas,PS2,Rockstar Games,Action,20.81,9.43,0.40,0.41,26 Oct 04,2004.0
1,Grand Theft Auto V,PS4,Rockstar Games,Action,19.39,6.06,9.71,0.60,18 Nov 14,2014.0
2,Grand Theft Auto V,X360,Rockstar Games,Action,15.86,9.06,5.33,0.06,17 Sep 13,2013.0
3,Grand Theft Auto IV Read the review,X360,Rockstar Games,Action,11.09,6.80,3.11,0.14,29 Apr 08,2008.0
4,Uncharted 4: A Thief's End,PS4,Sony Interactive Entertainment,Action,10.33,4.49,3.93,0.21,10 May 16,2016.0
...,...,...,...,...,...,...,...,...,...,...
4396,Tokyo Twilight Ghost Hunters,PS3,Aksys Games,Visual+Novel,0.07,0.03,0.00,0.02,10 Mar 15,2015.0
4397,Steins;Gate,PS3,5pb,Visual+Novel,0.06,0.01,0.02,0.02,18 Sep 15,2015.0
4398,Tears to Tiara II: Heir of the Overlord,PS3,NIS America,Visual+Novel,0.15,0.07,0.01,0.06,14 Oct 14,2014.0
4399,Tokyo Twilight Ghost Hunters,PS3,Aksys Games,Visual+Novel,0.07,0.03,0.00,0.02,10 Mar 15,2015.0
4400,Steins;Gate,PS3,5pb,Visual+Novel,0.06,0.01,0.02,0.02,18 Sep 15,2015.0

In [300]:
df['Platforms amount'] = df.groupby('Platforms')['Platforms'].transform('count')
df['Publisher movie amount'] = df.groupby('Publisher')['Publisher'].transform('count')
df['Genre Amount'] = df.groupby('Genre')['Genre'].transform('count')
df

,Title,Platforms,Publisher,Genre,Total_sales,USA_Sales,EUR_Sales,Japan_Sales,Release_date,Year,Platforms amount,Publisher movie amount,Genre Amount
0,Grand Theft Auto: San Andreas,PS2,Rockstar Games,Action,20.81,9.43,0.40,0.41,26 Oct 04,2004.0,477,59,644
1,Grand Theft Auto V,PS4,Rockstar Games,Action,19.39,6.06,9.71,0.60,18 Nov 14,2014.0,417,59,644
2,Grand Theft Auto V,X360,Rockstar Games,Action,15.86,9.06,5.33,0.06,17 Sep 13,2013.0,541,59,644
3,Grand Theft Auto IV Read the review,X360,Rockstar Games,Action,11.09,6.80,3.11,0.14,29 Apr 08,2008.0,541,59,644
4,Uncharted 4: A Thief's End,PS4,Sony Interactive Entertainment,Action,10.33,4.49,3.93,0.21,10 May 16,2016.0,417,34,644
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4396,Tokyo Twilight Ghost Hunters,PS3,Aksys Games,Visual+Novel,0.07,0.03,0.00,0.02,10 Mar 15,2015.0,673,28,8
4397,Steins;Gate,PS3,5pb,Visual+Novel,0.06,0.01,0.02,0.02,18 Sep 15,2015.0,673,2,8
4398,Tears to Tiara II: Heir of the Overlord,PS3,NIS America,Visual+Novel,0.15,0.07,0.01,0.06,14 Oct 14,2014.0,673,64,8
4399,Tokyo Twilight Ghost Hunters,PS3,Aksys Games,Visual+Novel,0.07,0.03,0.00,0.02,10 Mar 15,2015.0,673,28,8
4400,Steins;Gate,PS3,5pb,Visual+Novel,0.06,0.01,0.02,0.02,18 Sep 15,2015.0,673,2,8

In [325]:
X = df.drop(['Platforms','Publisher','Genre','Title','Release_date','Year','Total_sales'],axis=1)
y =  df['Total_sales']

In [326]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   USA_Sales    4401 non-null   float64
 1   EUR_Sales    4401 non-null   float64
 2   Japan_Sales  4401 non-null   float64
dtypes: float64(3)
memory usage: 103.3 KB

In [327]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

In [328]:
model = sklearn.linear_model.LinearRegression().fit(X_train, y_train)

In [368]:
newDf = pd.DataFrame({'Total_Sales actual': y_test,'Total_Sales predicted':model.predict(X_test)})

In [369]:
newDf.to_csv("Predicted.csv")
print(r2_score(y_test, newDf['Total_Sales predicted']))

0.9976308992297436

In [370]:
newDf

      Total_Sales actual  Total_Sales predicted
954                 1.75               1.778939
881                 1.86               2.089844
730                 2.00               2.085957
3772                0.06               0.089460
326                 0.14               0.162612
...                  ...                    ...
328                 0.13               0.148740
2524                5.31               5.456484
2067                1.72               1.690811
4264                1.00               1.025253
3446                0.30               0.390228

[881 rows x 2 columns]